@model Domain.Entities.Article

<div>
    <h3>
        <strong>@Model.Title</strong>
    </h3>
    <h5>
        <strong>@Model.Author</strong>
    </h5>
    <h5>
        <strong>@Model.Category.Name</strong>
    </h5>
    <span class="lead">@Model.Text</span>
</div>
