@using WebUI.HtmlHelpers
@model WebUI.Models.ArticlesIndexViewModel

@{
    ViewBag.Title = "Статьи";
}

<div class="row">
    <div class="paging-container">
        <div class="btn-group paging-btn-group float-left">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x, category = Model.CurrentCategory }))
        </div>
    </div>
</div>

<div class="articles-container">
    @foreach (var article in Model.Articles)
    {
        @Html.Partial("~/Views/Articles/_Articles.cshtml", article)
    }
</div>


<div class="row">
    <div class="paging-container">
        <div class="btn-group paging-btn-group float-left">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x, category = Model.CurrentCategory }))
        </div>
    </div>
</div>
